---

_You are currently looking at **version 1.1** of this notebook. To download notebooks and datafiles, as well as get help on Jupyter notebooks in the Coursera platform, visit the [Jupyter Notebook FAQ](https://www.coursera.org/learn/python-machine-learning/resources/bANLa) course resource._

---

Problem statement
Halloween is a night of costumes, fun, and candy that takes place every year on October 31. On this day people dress up in various costumes that have a scary overtone and go trick-or-treating to gather candy.

This year, on Halloween, there is a carnival in your neighborhood. Besides the various games, there are also 50 stalls that are selling various products, which fall under various categories.

Your task is to predict the selling price of the products based on the provided features. 

Data description
The data folder consists of the following three .csv files:

train.csv: ()
test.csv: ()
submission.csv: ()
Column name       	Description
Product_id

Unique ID of each product

Stall_no

Represents the number of stalls in the carnival (1-50)

instock_date

Represents the date and time on which the product was bought

Market_Category

Represents the different market categories that the products belong to

Customer_name

Represents the names of the customers

Loyalty_customer

Represents if a customer is a loyal customer

Product_Category

Represents the 10 different product categories that the products belong to

Grade

Represents the quality of products

Demand

Represents the demand for the products being sold at the carnival

Discount_avail

Represents whether a product is being sold at a discount or not

charges_1

Represents the types of charges applied on the products in the carnival

charges_2 (%)

Represents the types of charges applied on the products in the carnival

Minimum_price

Represents the minimum price of a product

Maximum_price

Represents the maximum price of a product

Selling_Price

Represents the selling price of the product in the carnival

Evaluation metric

Note: To avoid any discrepancies in the scoring, you must ensure that all the column values in the Product_id column in the file that you submit match the values in the test.csv provided.

82.53944

In [2]:
#%matplotlib notebook
import numpy as np
import pandas as pd
#import seaborn as sns
#import matplotlib.pyplot as plt
#import sklearn

In [3]:
data_train=pd.read_csv('train.csv', engine='python')
data_test=pd.read_csv('test.csv', engine='python')
#data_add=pd.read_csv('addresses.csv', engine='python')

In [4]:
data_train.fillna(0,inplace=True)
data_train

#print(len(list(set(list(data_train['Product_id'])))+list(set(list(data_test['Product_id'])))))

,Product_id,Stall_no,instock_date,Market_Category,Customer_name,Loyalty_customer,Product_Category,Grade,Demand,Discount_avail,charges_1,charges_2 (%),Minimum_price,Maximum_price,Selling_Price
0,BRAE2NF6JA5GUEXG,37.0,2015-08-22 18:36:12.000,2,Lillyann,Yes,Fashion,1,68,0.0,376.0,11.0,2983.0,4713.0,4185.947700
1,TUNE8SFB6RJN2HSD,38.0,2016-03-27 21:19:13.000,24,Klynn,Yes,Fashion,0,51,0.0,397.0,12.0,7495.0,10352.0,9271.490256
2,BRAEAR7WZPQGPBZU,9.0,2015-08-18 19:25:22.000,447,Ridge,Yes,Child_care,0,10,0.0,250.0,9.0,5752.0,7309.0,6785.701362
3,WATDZ2ZQ8JPDHCTJ,50.0,2016-03-28 21:53:01.000,23,Abran,Yes,Educational,2,48,0.0,144.0,13.0,5090.0,20814.0,13028.917824
4,JWSEBUKYQPMBZ3RK,7.0,2016-03-29 22:58:53.000,63,Dustyn,Yes,Repair,1,35,1.0,211.0,4.0,2430.0,9261.0,906.553935
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6363,WATE7VE2D62VEKW8,17.0,2016-03-28 19:55:43.000,24,Marquell,Yes,Technology,0,47,0.0,614.0,10.0,8174.0,11266.0,10277.520192
6364,SHOEF9G8Z4ZXF6WE,21.0,2015-02-11 15:09:26.000,55,Theodore,Yes,Child_care,0,35,0.0,269.0,5.0,3564.0,4920.0,4501.837200
6365,PBXEB9ZQ7HHCFXYG,36.0,2015-11-19 17:29:21.000,358,Galen,No,Repair,3,29,0.0,283.0,3.0,5303.0,14614.0,10218.878775
6366,NKCEAGXHRYTNTMG7,27.0,2015-12-08 04:19:33.000,452,Posey,Yes,Repair,0,8,0.0,267.0,3.0,4334.0,5849.0,5359.493997
6367,CAGE53FSAFWZRHFF,11.0,2016-01-20 19:45:35.000,58,Cutler,Yes,Technology,0,94,0.0,614.0,7.0,3975.0,5383.0,5220.013568

In [5]:
data_test.fillna(0,inplace=True)
data_test.columns

Index(['Product_id', 'Stall_no', 'instock_date', 'Market_Category',
       'Customer_name', 'Loyalty_customer', 'Product_Category', 'Grade',
       'Demand', 'Discount_avail', 'charges_1', 'charges_2 (%)',
       'Minimum_price', 'Maximum_price'],
      dtype='object')

In [6]:
data_train.drop(['Customer_name'],axis=1,inplace=True)
data_test.drop(['Customer_name'],axis=1,inplace=True)
#data_train['deltad']=pd.to_datetime(data_train['instock_date'])
#data_test['deltad']=pd.to_datetime(data_test['instock_date'])

In [7]:
data_train['lolc']=0
data_train.loc[data_train.Loyalty_customer=='Yes',['lolc']]=1

data_train.drop(['Loyalty_customer'],axis=1,inplace=True)

In [8]:
data_test['lolc']=0
data_test.loc[data_test.Loyalty_customer=='Yes',['lolc']]=1

data_test.drop(['Loyalty_customer'],axis=1,inplace=True)

In [73]:
#import datetime
#format= '%Y-%m-%d %H:%M:%S.%f'
#datetime.datetime.strptime(data_train['instock_date'].iloc[0],format)-datetime.datetime.strptime('',format)

In [9]:

data_train['year']=0
for i in range(len(data_train)):
    
    if data_train['instock_date'].iloc[i][:4]=='2014':
        data_train['year'].iloc[i]=3
    elif data_train['instock_date'].iloc[i][:4]=='2015':
        data_train['year'].iloc[i]=2
    elif data_train['instock_date'].iloc[i][:4]=='2016':
        data_train['year'].iloc[i]=1

data_test['year']=0
for i in range(len(data_test)):
    
    if data_test['instock_date'].iloc[i][:4]=='2014':
        data_test['year'].iloc[i]=3
    elif data_test['instock_date'].iloc[i][:4]=='2015':
        data_test['year'].iloc[i]=2
    elif data_test['instock_date'].iloc[i][:4]=='2016':
        data_test['year'].iloc[i]=1

C:\Users\91797\anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)

In [10]:
data_train.drop(['instock_date'],axis=1,inplace=True)
data_test.drop(['instock_date'],axis=1,inplace=True)

In [11]:
data_train.drop(['Product_id'],axis=1,inplace=True)
data_test.drop(['Product_id'],axis=1,inplace=True)

In [77]:
data_train

,Stall_no,Market_Category,Product_Category,Grade,Demand,Discount_avail,charges_1,charges_2 (%),Minimum_price,Maximum_price,Selling_Price,lolc,year
0,37.0,2,Fashion,1,68,0.0,376.0,11.0,2983.0,4713.0,4185.947700,1,2
1,38.0,24,Fashion,0,51,0.0,397.0,12.0,7495.0,10352.0,9271.490256,1,1
2,9.0,447,Child_care,0,10,0.0,250.0,9.0,5752.0,7309.0,6785.701362,1,2
3,50.0,23,Educational,2,48,0.0,144.0,13.0,5090.0,20814.0,13028.917824,1,1
4,7.0,63,Repair,1,35,1.0,211.0,4.0,2430.0,9261.0,906.553935,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6363,17.0,24,Technology,0,47,0.0,614.0,10.0,8174.0,11266.0,10277.520192,1,1
6364,21.0,55,Child_care,0,35,0.0,269.0,5.0,3564.0,4920.0,4501.837200,1,2
6365,36.0,358,Repair,3,29,0.0,283.0,3.0,5303.0,14614.0,10218.878775,0,2
6366,27.0,452,Repair,0,8,0.0,267.0,3.0,4334.0,5849.0,5359.493997,1,2
6367,11.0,58,Technology,0,94,0.0,614.0,7.0,3975.0,5383.0,5220.013568,1,1

In [12]:
for i in data_train.columns:
    print(i,len(set(list(data_train[i]))))

Stall_no 51
Market_Category 248
Product_Category 10
Grade 4
Demand 100
Discount_avail 2
charges_1 488
charges_2 (%) 18
Minimum_price 4237
Maximum_price 4619
Selling_Price 6322
lolc 2
year 3

In [13]:
for i in data_test.columns:
    print(i,len(set(list(data_test[i]))))

Stall_no 51
Market_Category 224
Product_Category 10
Grade 4
Demand 100
Discount_avail 2
charges_1 451
charges_2 (%) 18
Minimum_price 2686
Maximum_price 2901
lolc 2
year 3

In [14]:
rtrain_x=pd.get_dummies(data_train,columns=['Product_Category'])
rtest=pd.get_dummies(data_test,columns=['Product_Category'])
rtrain_x.drop(['Selling_Price'],axis=1,inplace=True)
rtrain_y=data_train['Selling_Price']

In [15]:
(rtest.columns)

Index(['Stall_no', 'Market_Category', 'Grade', 'Demand', 'Discount_avail',
       'charges_1', 'charges_2 (%)', 'Minimum_price', 'Maximum_price', 'lolc',
       'year', 'Product_Category_Child_care', 'Product_Category_Cosmetics',
       'Product_Category_Educational', 'Product_Category_Fashion',
       'Product_Category_Home_decor', 'Product_Category_Hospitality',
       'Product_Category_Organic', 'Product_Category_Pet_care',
       'Product_Category_Repair', 'Product_Category_Technology'],
      dtype='object')

In [16]:
for i in (rtest.columns):
    try :
        list(rtrain_x.columns).index(i)
    except:
        print(i)

In [17]:
rtrain_x=data_train.copy()
rtest=data_test.copy()
#rtrain_x=pd.get_dummies(data_train,columns=['Product_Category'])
rtrain_x.drop('Product_Category',axis=1,inplace=True)
rtrain_x.drop(['Selling_Price','year'],axis=1,inplace=True)
rtrain_y=data_train['Selling_Price']

from sklearn.preprocessing import PolynomialFeatures
poly = PolynomialFeatures(degree=3)
rtrain_xp=  poly.fit_transform(rtrain_x)
rtestpp=poly.fit_transform(rtest.drop(['year','Product_Category'],axis=1))
from sklearn.model_selection import train_test_split
xtrbb,xtebb,ytr,yte=train_test_split(rtrain_xp,rtrain_y,train_size=0.7)
'''======================================'''
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
xtr = scaler.fit_transform(xtrbb)
xte = scaler.transform(xtebb)
rtestp=scaler.transform(rtestpp)
'''==========================================='''

'''==========================================='''
from sklearn.linear_model import LinearRegression as crmode
#from sklearn.neighbors import KNeighborsRegressor
model = crmode()
model.fit(xtr,ytr)

#svm_predicted = model.predict(xte)

#knnreg = KNeighborsRegressor(n_neighbors = 150).fit(xtr, ytr)
#confusion = confusion_matrix(yte, svm_predicted)
#confusion

from sklearn.linear_model import Ridge
linridge = Ridge(alpha=0.10).fit(xtr, ytr)
'''=================================='''
linridge.score(xte,yte)

from sklearn.linear_model import Lasso

linlasso = Lasso(alpha=1, max_iter = 10000).fit(xtr, ytr)

print(model.score(xtr,ytr),linridge.score(xtr,ytr),linlasso.score(xtr,ytr))
print(model.score(xte,yte),linridge.score(xte,yte),linlasso.score(xte,yte))

0.9422016623430646 0.9381058012521384 0.926910016987992
-2.1506375594580254 0.8390075610339046 0.8847689273383936

In [18]:
model.score(xtr,ytr)

0.9422016623430646

In [21]:
fd=pd.read_csv('test.csv')

fd.drop(['Stall_no', 'instock_date', 'Market_Category',
       'Customer_name', 'Loyalty_customer', 'Product_Category', 'Grade',
       'Demand', 'Discount_avail', 'charges_1', 'charges_2 (%)',
       'Minimum_price', 'Maximum_price'],axis=1,inplace=True)

fd['Selling_Price']=abs(model.predict(rtestpp))
fd



#compression_opts = dict(method='zip',archive_name='processed_data.csv')  # doctest: +SKIP
fd.to_csv('out.csv', index=False)